
@{
    ViewBag.Title = "Admin Reported Notes";
}

@model NoteShare.Models.ReportedNotesModel

<h2><strong>Reported Notes:</strong></h2>
<div class="notesSection adminNotes">
    @foreach (var reportedNote in Model.reportedNotes)
    {
        <div class="entireNote">
            <div class="notes">
                <div class="noteType">@reportedNote.title</div>
                <div class="noteId hidden">@reportedNote.noteId</div>
                <div class="buttonArea">@Html.ActionLink("View", "Document", "Home", new { @id = reportedNote.noteId }, new { @id = "1" }) <a class="deleteNote">Delete Note</a></div>
            </div>
            @foreach (var report in reportedNote.reports)
            {
            <div class="adminPageReportedComments">
                @report.username - @report.reportText
            </div>
            }
        </div>
    }
</div>

<div id="DeleteNote">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span> This action is permanent and cannot be un-done. Are you sure you want to DELETE this note?</p>
</div>

@section scripts {
    <script src="~/Scripts/ReportedNotes.js"></script>
}